.SectionCards {
    width: 100%;
    max-width: 720px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;

}

.SectionCards h2 {
    font-size: 20px;
    color: #5e5e5e;
    margin-top: 25px;
}


@media (min-width: 320px) {
    .SectionCards {
        margin: 0 auto;
    }
    
    .SectionCards h2 {
        font-size: 32px;


    }
}